:root {
	font-family: courier, arial, helvetica;
}

* {
	font-size: 1vw;
	color: whitesmoke;
	outline: none;
}

body {
	margin: 0;
	overflow: hidden;
	background-image: url(../images/grass.png);
	background-repeat: repeat;
	animation: moveBackground 20s linear infinite;
}

@keyframes moveBackground {
	from {
		background-position: 0vw 0vh;
	}

	to {
		background-position: 150vw 150vh;
	}
}

button {
	border-radius: 10px;
	border-color: transparent;
	transition: transform 0.4s, border-color 0.7s;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
	background-color: rgb(72, 99, 31);
}

button:hover {
	border-color: whitesmoke;
}

button:active {
	transform: scale(0.9);
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	background-color: rgb(8, 110, 51);
	padding: 1vw;
	width: 50%;
	border-radius: 10px;
	margin: auto;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(8, 110, 51);
	text-align: center;
	padding: 1vw;
}
