:root {
	font-family: courier, arial, helvetica;
}

* {
	outline: none;
	font-size: 1vw;
	color: whitesmoke;
}

body {
	margin: 0;
	overflow: hidden;
	background-image: url(../images/grass.png);
	background-repeat: repeat;
}

button {
	border-radius: 10px;
	border-color: transparent;
	transition: transform 0.4s, border-color 0.7s;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
	background-color: rgb(83, 133, 8);
}

button:hover {
	border-color: whitesmoke;
}

button:active {
	transform: scale(0.9);
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	background-color: rgb(61, 99, 4);
	padding: 1vw;
	width: 50%;
	border-radius: 10px;
	margin: auto;
}
